<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit task</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-xl">

  <div class="col-3 mt-3">
    <form action="#" th:action="@{/task/{id}(id=${task.id})}" th:object="${task}" method="post">
          <div class="form-group">
              <label for="description">Task:</label>
              <input class="form-control" type="text" th:field="*{toDo}" id="description" placeholder="Add a task">
          </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" th:checked="${isDone} == true" th:field="*{isDone}" id="isDone">
            Done
          </label>
        </div>
      <button class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>

</div>


<script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>