<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To do</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container-xl">
        <h1 class="text-center mt-3">To do:</h1>
        <hr>
        <table class="table table-bordered table-striped">
            <thread>
                <tr>
                    <th>Task</th>
                    <th>Done</th>
                    <th>Action</th>
                </tr>
            </thread>
            <tbody>
                <tr th:each="item: ${toDoList}">
                    <td th:text="${item.toDo}"></td>
                    <td th:text="${item.isDone}"></td>
                    <td>
                        <div class="btn btn-group-sm">
                            <a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}">Edit</a>
                            <a class="btn btn-danger" th:href="@{/delete/{id}(id=${item.id})}">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


<script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>